

<form action='posts' method='get'>
  <div class="form-group">
    <label for="exampleInputPassword1">태그 검색</label>
    <input name="tag" type="search" class="form-control" id="exampleInputPassword1" placeholder="tag search"></br>
  <button type="submit" class="btn btn-default">검색</button>
</form>

<h1><%= link_to '후기 쓰기', new_post_path, class: 'btn btn-default' %></h1> 


<h1>후기</h1>
    <% @posts.each do |post| %>
    <div class="well" style='word-break:break-all;'>
      
       
            
        <div style='white-space: pre'><%= post.content %></div>
        <br>
           <% if post.tag_list.size > 0 %>
              <strong><p> <div class='tag_list'>태그 | <%=tag_icons(post.tag_list) %></div></p></strong>
            <% end %>
            
        <%= post.user.present? ? post.user.name : "n/a" %>
        <%= time_ago_in_words(post.created_at) %> ago
        <br><br>
        <!--<%= link_to 'Show', post %>-->
        <% if user_signed_in? %>
        <%= link_to '수정', edit_post_path(post), class: 'btn btn-default' if post.updatable_by? current_user %>
        <%= link_to '삭제', post, method: :delete, data: { confirm: '삭제하실건가요?' }, class: 'btn btn-default' if post.deletable_by? current_user %>
        
       
        <% end %>
        <br><br>
        <h4>댓글</h4>
            
            <% post.comments.each do |c| %>
              <div style='white-space: pre'><%= c.body %></div>
              <br>
            <% end %>
            
          <form action='/posts/reply_create' method='post' style='margin-top:1px;'>
            <input type='hidden' value='<%=post.id%>' name='id_of_post'>
            <textarea class="form-control" rows="3" id='content' name="xylitol"></textarea>
            <br>
            <button type="submit" class="btn btn-default">댓글 달기</button>
          </form>
            
        
        
      </div>
    <% end %>


<br>
